*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    
}

body{
    background: linear-gradient(rgb(62, 79, 99), rgb(67, 173, 192));
    background-repeat: no-repeat;
    
    
}


.header{
    width: 100%;
    padding: 20px 10%;
    top: 0;
    left: 0;
    background: transparent;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: black;
}

.logo{
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: 1000;
}

.navbar a{
    font-size: 17px;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 800;
    transition: 1s;
    margin: 25px;
}

.navbar a:hover,
.navbar a.active {
    color: darkblue;
}

.Home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.Home-content{
    background: transparent;
    max-width: 600px;
    padding-bottom: 20%;
}

.Home-content h1{
    font-size: 45px;
    font-weight: 800;
}

.Home-content h3{
    font-size: 35px;
    font-weight: 800;
    color: maroon;
}

.Home-content p{
    font-size: 20px;
    margin-top: 10px;
}

.images{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin: 100px auto 50px;
}

.images img{
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.images img:hover{
    box-shadow: 0 32px 7px rgb(41, 38, 38);
    border-radius: 20px;
    transform: scale(0.8) rotate(15deg);
}

iframe{
    margin-left: 150px;
    margin-top: 600px;
}

.images_header {
    margin-top: 100px;
    text-align: center;
    font-family: 'Times New Roman';
}

.gallery-header{
    text-align: center;
    font-size: 75px;
    font-family: 'Times New Roman';
}
.video{
    text-align: center;
}

.video-header{
    margin-top: 100px;
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 28px;
    margin-bottom: 100px;
}

.video p{
    font-weight: 500;
    margin-top: 35px;
    font-size: 25px;

}

.about-me_header{
    text-align: center;
    margin-bottom: 50px;
}

.About_me img{
    width: 200px;
    margin-left: 50px;
    float: left;
}

.About_me h1{
    margin-left: 300px;
    margin-bottom: 400px;
}

.contact a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    color: black;
    text-decoration: none;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    align-items: center;
    transition: .5s;
    margin: 10px;
}

.contact a:hover{
    color: cornflowerblue;
}

.contact a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: .5s;
    z-index: -1;
}

.contact a:hover::before{
    width: 100%;
}

.contact{
    text-align: center;
    margin-top: 100px;
    background-color: whitesmoke;
    padding: 20px;
}

.contact h1{
    margin-bottom: 10px;
}

.form-container{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-left: 50px;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 250px;
    background-color: black;
    height: 5px;
}

.contact-input{
    width: 400px;
    border: none;
    height: 50px;
    outline: none;
    padding-left: 20px;
    font-weight: 500;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-input:focus{
    border: 2px solid black;
}

.contact-left button{
    display: flex;
    padding: 15px 30px;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    gap: 10px;
}